/* CURRENTLY IN: styles/main.css */
html {
	margin: 0;
	padding: 0;
}

/*header styles */
.row {
	width: 100%;
	box-sizing: border-box;
}

/*bannerbox styles*/
.bannerbox {
	background-image: url('../images/brooklyn_neighbs_map.jpg');
	background-size: center;
	background-position: center;
	padding-top: 3%;
	padding-bottom: 3%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 500px;
}
/*main page colors bisque4 #8b7d6b, NavajoWhite4 #8b795e,
wheat4 #8b7e66*/

.layout__contents {
	background-color: #848482;
	height: 1500px;
}


